body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

h1,
p {
  color: white;
  margin: 0;
}

.container {
  background: url(/src/images/picture.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100%; */
}

.productPage {
  display: flex;
  height: 100%;
}

.headerRight {
  padding-right: 5%;
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.headerRight > a {
  text-align: center;
  color: white;
  width: 110px;
  display: block;
  line-height: 10px;
  font-size: 1rem;
  line-height: 50px;
  font-weight: 600;
}

.headerRight > a:hover {
  opacity: 0.7;
}

.header {
  height: 50px;
  background-color: #424463;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  color: white;
  line-height: 50px;
  width: fit-content;
}

.mainContents {
  height: 80%;
  padding: 1%;
}

.mainContents > p {
  margin-left: 20px;
}

.productContent {
  background: white;
  height: 40%;
  margin: 10px 20px;
  width: 30%;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}

.productContent > p {
  font-size: 1.2rem;
  color: black;
}

.productImage {
  height: 85%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 100%;
  border: none;
}

.imhereImage {
  background-image: url(/src/images/imhereImage.png);
}

.simpleTrelloImage {
  background-image: url(/src/images/simpleTrelloImage.png);
}

.portfolioImage {
  background-image: url(/src/images/picture.jpg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  z-index: 2;
  width: 50%;
  padding: 1em;
  background: #fff;
  border-radius: 5px;
}

.modalContent > p {
  color: black;
}

.modalThumbnail {
  width: 100%;
}

.modalLinkGroup{
  display: flex;
  justify-content:center;
}

.linkUrl{
  display:block;
  color:black;
  font-size: 1.3rem;
  width: fit-content;
  text-decoration: underline;
  margin-right:3%;
}

.gitLinkUrl{
  display:block;
  color:black;
  font-size: 1.3rem;
  width: fit-content;
  text-decoration: underline;
}

.appliArticle{
  white-space: pre-line;
}

.closeBtn{
  margin: 10px auto 5px;
  display: block;
  line-height: 55px;
  border: none;
  width:160px;
  border-radius:9999px;
  font-size: 1.2rem;
}


.footer {
  text-align: center;
}


@media screen and (max-width: 1024px) {
  .headerTitle{
    font-size:1.6em
  }
  .mainContents{
    width:800px;
    margin:0 auto;
  }
  .productPage{
    flex-wrap:wrap;
  }
  .productContent{
    width: 46%;
    height:auto;
    margin:10px 2% 20px;
  }
  .footer{
    display: none;
  }
}


@media screen and (max-width: 865px) {
  .mainContents{
    width:700px;
    height:67%;
  }
  .productImage{
    background-size: cover;
    height:80%;
  }

}


@media screen and (max-width: 728px) {
  
}